---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-05-14T14:48:40.411521Z","id":"97a0f043-494f-4c6c-9ea8-f29c5ec08ce8","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-14T14:48:40.411521Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.029118ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/97a0f043-494f-4c6c-9ea8-f29c5ec08ce8
        method: GET
      response:
        body: '{"created_at":"2024-05-14T14:48:40.411521Z","id":"97a0f043-494f-4c6c-9ea8-f29c5ec08ce8","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-14T14:48:40.411521Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.336211ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.0.0/22"],"vpc_id":"97a0f043-494f-4c6c-9ea8-f29c5ec08ce8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T14:48:40.915937Z","dhcp_enabled":true,"id":"b3ce7411-62ad-4513-a38a-842c738c589b","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T14:48:40.915937Z","id":"9bc4ed8d-f99c-43ea-a798-b629f33c74d8","subnet":"172.16.0.0/22","updated_at":"2024-05-14T14:48:40.915937Z"},{"created_at":"2024-05-14T14:48:40.915937Z","id":"ae012e74-6c9f-4e71-9f11-ab81701038cf","subnet":"fd5f:519c:6d46:9a12::/64","updated_at":"2024-05-14T14:48:40.915937Z"}],"tags":[],"updated_at":"2024-05-14T14:48:40.915937Z","vpc_id":"97a0f043-494f-4c6c-9ea8-f29c5ec08ce8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 555.250635ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b3ce7411-62ad-4513-a38a-842c738c589b
        method: GET
      response:
        body: '{"created_at":"2024-05-14T14:48:40.915937Z","dhcp_enabled":true,"id":"b3ce7411-62ad-4513-a38a-842c738c589b","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T14:48:40.915937Z","id":"9bc4ed8d-f99c-43ea-a798-b629f33c74d8","subnet":"172.16.0.0/22","updated_at":"2024-05-14T14:48:40.915937Z"},{"created_at":"2024-05-14T14:48:40.915937Z","id":"ae012e74-6c9f-4e71-9f11-ab81701038cf","subnet":"fd5f:519c:6d46:9a12::/64","updated_at":"2024-05-14T14:48:40.915937Z"}],"tags":[],"updated_at":"2024-05-14T14:48:40.915937Z","vpc_id":"97a0f043-494f-4c6c-9ea8-f29c5ec08ce8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.708501ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ipam-ip-rdb","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"b3ce7411-62ad-4513-a38a-842c738c589b","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T14:48:41.797370Z","endpoint":null,"endpoints":[{"id":"cd26090a-7ea3-497f-b244-ef63a3f3cc17","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"b3ce7411-62ad-4513-a38a-842c738c589b","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"847cc7a1-13db-490f-9fb6-a5e55215c206","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.201901504s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/847cc7a1-13db-490f-9fb6-a5e55215c206
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T14:48:41.797370Z","endpoint":null,"endpoints":[{"id":"cd26090a-7ea3-497f-b244-ef63a3f3cc17","ip"[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/847cc7a1-13db-490f-9fb6-a5e55215c206
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T14:48:41.797370Z","endpoint":null,"endpoints":[{"id":"cd26090a-7ea3-497f-b244-ef63a3f3cc17","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"b3ce7411-62ad-4513-a38a-842c738c589b","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"847cc7a1-13db-490f-9fb6-a5e55215c206","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ipam-ip-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.156411ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/847cc7a1-13db-490f-9fb6-a5e55215c206/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVWUJhS3c1ZmMxdEovQmZXSDk4VnlxT1labDlFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalF3Ck5URTBNVFEwT1RRMldoY05NelF3TlRFeU1UUTBPVFEyV2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-ipam-ip-rdb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2024-05-14T14:48:42.235433Z","id":"2f7dbd26-6d10-4665-9dbc-9bdcf2d54903","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"847cc7a1-13db-490f-9fb6-a5e55215c206","mac_address":"02:00:00:1A:A8:5B","name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"9bc4ed8d-f99c-43ea-a798-b629f33c74d8"},"tags":["managed","scwdbaas"],"updated_at":"2024-05-14T14:49:14.419897Z","zone":null},{"address":"172.16.0.2/22","created_at":"2024-05-14T12:43:37.903918Z","id":"abc1e2ca-d905-4424-83f4-0896b2ed6dad","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"110963d1-2e5c-47a3-8dbc-d2a9b6879f59","mac_address":null,"name":"test-ipam-ip-rdb","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"64c67b16-e645-4977-b8ff-ea09e69bc953"},"tags":["managed","scwdbaas"],"updated_at":"2024-05-14T12:43:37.903918Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.017712ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/847cc7a1-13db-490f-9fb6-a5e55215c206
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"847cc7a1-13db-490f-9fb6-a5e55215c206","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 101.645747ms
[...]
