---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"l_ssd","size":2000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "8c07028b-d4f6-4495-a7be-3a69af859a8d", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 2000000000, "state": "available", "creation_date": "2026-02-18T13:43:31.602174+00:00", "modification_date": "2026-02-18T13:43:31.602174+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8c07028b-d4f6-4495-a7be-3a69af859a8d
        status: 201 Created
        code: 201
        duration: 207.019664ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8c07028b-d4f6-4495-a7be-3a69af859a8d
        method: GET
      response:
        body: '{"volume": {"id": "8c07028b-d4f6-4495-a7be-3a69af859a8d", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 2000000000, "state": "available", "creation_date": "2026-02-18T13:43:31.602174+00:00", "modification_date": "2026-02-18T13:43:31.602174+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.230811ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        form:
            name:
                - tf-volume
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
        method: GET
      response:
        body: '{"volumes": [{"id": "8c07028b-d4f6-4495-a7be-3a69af859a8d", "name": "tf-volume", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 2000000000, "state": "available", "creation_date": "2026-02-18T13:43:31.602174+00:00", "modification_date": "2026-02-18T13:43:31.602174+00:00", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=tf-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.278113ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8c07028b-d4f6-4495-a7be-3a69af859a8d
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "8c07028b-d4f6-4495-a7be-3a69af859a8d"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.641375ms
[...]
