---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-cranky-keller","perf_iops":15000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"2c345210-2395-49b2-aa85-4bda8ab4090b", "name":"tf-volume-cranky-keller", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:27.382457Z", "updated_at":"2026-02-18T13:46:27.382457Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.996847ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/2c345210-2395-49b2-aa85-4bda8ab4090b
        method: GET
      response:
        body: '{"id":"2c345210-2395-49b2-aa85-4bda8ab4090b", "name":"tf-volume-cranky-keller", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:27.382457Z", "updated_at":"2026-02-18T13:46:27.382457Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.759178ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"volume_id":"2c345210-2395-49b2-aa85-4bda8ab4090b","name":"tf-snapshot-unruffled-bose","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"52774f93-fc9c-4400-a2d1-83b6e8eaa50b", "name":"tf-snapshot-unruffled-bose", "parent_volume":{"id":"2c345210-2395-49b2-aa85-4bda8ab4090b", "name":"tf-volume-cranky-keller", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:32.619891Z", "updated_at":"2026-02-18T13:46:32.619891Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.330186ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/52774f93-fc9c-4400-a2d1-83b6e8eaa50b
        method: GET
      response:
        body: '{"id":"52774f93-fc9c-4400-a2d1-83b6e8eaa50b", "name":"tf-snapshot-unruffled-bose", "parent_volume":{"id":"2c345210-2395-49b2-aa85-4bda8ab4090b", "name":"tf-volume-cranky-keller", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:32.619891Z", "updated_at":"2026-02-18T13:46:32.619891Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.64614ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"86dd91b9-67bc-4d55-978a-1af2ffd82d02","arch":"x86_64","extra_volumes":{"1":{"id":"52774f93-fc9c-4400-a2d1-83b6e8eaa50b"},"2":{"id":"8239fc15-88ca-4f18-868f-1f5d00766991"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "97113890-723d-4630-bd55-e4b5270ba9f3", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "86dd91b9-67bc-4d55-978a-1af2ffd82d02", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "52774f93-fc9c-4400-a2d1-83b6e8eaa50b", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "8239fc15-88ca-4f18-868f-1f5d00766991", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-18T13:46:39.083301+00:00", "modification_date": "2026-02-18T13:46:39.083301+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/97113890-723d-4630-bd55-e4b5270ba9f3
        status: 201 Created
        code: 201
        duration: 1.366093174s
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/97113890-723d-4630-bd55-e4b5270ba9f3
        method: GET
      response:
        body: '{"image": {"id": "97113890-723d-4630-bd55-e4b5270ba9f3", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "86dd91b9-67bc-4d55-978a-1af2ffd82d02", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "52774f93-fc9c-4400-a2d1-83b6e8eaa50b", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "8239fc15-88ca-4f18-868f-1f5d00766991", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-18T13:46:39.083301+00:00", "modification_date": "2026-02-18T13:46:39.083301+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.018576ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/86dd91b9-67bc-4d55-978a-1af2ffd82d02
        method: GET
      response:
        body: '{"id":"86dd91b9-67bc-4d55-978a-1af2ffd82d02", "name":"tf-snapshot-angry-dubinsky", "parent_volume":{"id":"1017222b-b24a-4402-ace9-14a26c73e75e", "name":"tf-volume-exciting-allen", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:32.665798Z", "updated_at":"2026-02-18T13:46:39.164596Z", "references":[{"id":"2d271b7d-60be-4bbb-9019-27386eceeeac", "product_resource_type":"instance_image", "product_resource_id":"97113890-723d-4630-bd55-e4b5270ba9f3", "created_at":"2026-02-18T13:46:39.164596Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.376044ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/97113890-723d-4630-bd55-e4b5270ba9f3
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "97113890-723d-4630-bd55-e4b5270ba9f3"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.149032ms
[...]
