---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-upbeat-elbakyan","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"0440ff41-e5a4-4edd-bf82-80b9a43bef14", "name":"tf-volume-upbeat-elbakyan", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:04.606104Z", "updated_at":"2026-02-20T17:30:04.606104Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.875769ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/0440ff41-e5a4-4edd-bf82-80b9a43bef14
        method: GET
      response:
        body: '{"id":"0440ff41-e5a4-4edd-bf82-80b9a43bef14", "name":"tf-volume-upbeat-elbakyan", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:04.606104Z", "updated_at":"2026-02-20T17:30:04.606104Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.430626ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"0440ff41-e5a4-4edd-bf82-80b9a43bef14","name":"tf-snapshot-clever-lumiere","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"b4b3419b-3e54-4fb0-b57a-4a1956557513", "name":"tf-snapshot-clever-lumiere", "parent_volume":{"id":"0440ff41-e5a4-4edd-bf82-80b9a43bef14", "name":"tf-volume-upbeat-elbakyan", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:10.066807Z", "updated_at":"2026-02-20T17:30:10.066807Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.785937ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/b4b3419b-3e54-4fb0-b57a-4a1956557513
        method: GET
      response:
        body: '{"id":"b4b3419b-3e54-4fb0-b57a-4a1956557513", "name":"tf-snapshot-clever-lumiere", "parent_volume":{"id":"0440ff41-e5a4-4edd-bf82-80b9a43bef14", "name":"tf-volume-upbeat-elbakyan", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:10.066807Z", "updated_at":"2026-02-20T17:30:10.066807Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 541.393856ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-musing-montalcini","root_volume":"b4b3419b-3e54-4fb0-b57a-4a1956557513","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "4296d769-136c-4d23-a4a3-d27532814a7c", "name": "tf-image-musing-montalcini", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "b4b3419b-3e54-4fb0-b57a-4a1956557513", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-20T17:30:16.726244+00:00", "modification_date": "2026-02-20T17:30:16.726244+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4296d769-136c-4d23-a4a3-d27532814a7c
        status: 201 Created
        code: 201
        duration: 703.265517ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4296d769-136c-4d23-a4a3-d27532814a7c
        method: GET
      response:
        body: '{"image": {"id": "4296d769-136c-4d23-a4a3-d27532814a7c", "name": "tf-image-musing-montalcini", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "b4b3419b-3e54-4fb0-b57a-4a1956557513", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-20T17:30:16.726244+00:00", "modification_date": "2026-02-20T17:30:16.726244+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.50766ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/b4b3419b-3e54-4fb0-b57a-4a1956557513
        method: GET
      response:
        body: '{"id":"b4b3419b-3e54-4fb0-b57a-4a1956557513", "name":"tf-snapshot-clever-lumiere", "parent_volume":{"id":"0440ff41-e5a4-4edd-bf82-80b9a43bef14", "name":"tf-volume-upbeat-elbakyan", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:10.066807Z", "updated_at":"2026-02-20T17:30:16.769057Z", "references":[{"id":"b821a0a1-2638-4479-aefa-a2d8b436551a", "product_resource_type":"instance_image", "product_resource_id":"4296d769-136c-4d23-a4a3-d27532814a7c", "created_at":"2026-02-20T17:30:16.769057Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.112749ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4296d769-136c-4d23-a4a3-d27532814a7c
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "4296d769-136c-4d23-a4a3-d27532814a7c"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.160781ms
[...]
