---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-admiring-allen","perf_iops":15000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"cb46fadd-ef1e-4f5c-bd7f-93808aa1faff", "name":"tf-volume-admiring-allen", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:23.048962Z", "updated_at":"2026-02-20T17:30:23.048962Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.546851ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/cb46fadd-ef1e-4f5c-bd7f-93808aa1faff
        method: GET
      response:
        body: '{"id":"cb46fadd-ef1e-4f5c-bd7f-93808aa1faff", "name":"tf-volume-admiring-allen", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:23.048962Z", "updated_at":"2026-02-20T17:30:23.048962Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.285675ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"volume_id":"cb46fadd-ef1e-4f5c-bd7f-93808aa1faff","name":"tf-snapshot-reverent-wright","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"764152b9-5410-4131-9c8f-1493893123e0", "name":"tf-snapshot-reverent-wright", "parent_volume":{"id":"cb46fadd-ef1e-4f5c-bd7f-93808aa1faff", "name":"tf-volume-admiring-allen", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:28.316092Z", "updated_at":"2026-02-20T17:30:28.316092Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 650.462179ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/764152b9-5410-4131-9c8f-1493893123e0
        method: GET
      response:
        body: '{"id":"764152b9-5410-4131-9c8f-1493893123e0", "name":"tf-snapshot-reverent-wright", "parent_volume":{"id":"cb46fadd-ef1e-4f5c-bd7f-93808aa1faff", "name":"tf-volume-admiring-allen", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:28.316092Z", "updated_at":"2026-02-20T17:30:28.316092Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.869348ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"a98ecc4c-30e9-447f-81fa-cf7c26da783f","arch":"x86_64","extra_volumes":{"1":{"id":"764152b9-5410-4131-9c8f-1493893123e0"},"2":{"id":"122d4839-8eef-423a-b7d0-14fd7ce205ea"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "75cbf30c-695b-490f-a90e-c17a44199272", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "a98ecc4c-30e9-447f-81fa-cf7c26da783f", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "764152b9-5410-4131-9c8f-1493893123e0", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "122d4839-8eef-423a-b7d0-14fd7ce205ea", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-20T17:30:34.974630+00:00", "modification_date": "2026-02-20T17:30:34.974630+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/75cbf30c-695b-490f-a90e-c17a44199272
        status: 201 Created
        code: 201
        duration: 944.124462ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/75cbf30c-695b-490f-a90e-c17a44199272
        method: GET
      response:
        body: '{"image": {"id": "75cbf30c-695b-490f-a90e-c17a44199272", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "a98ecc4c-30e9-447f-81fa-cf7c26da783f", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "764152b9-5410-4131-9c8f-1493893123e0", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "122d4839-8eef-423a-b7d0-14fd7ce205ea", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-20T17:30:34.974630+00:00", "modification_date": "2026-02-20T17:30:34.974630+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.751208ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/764152b9-5410-4131-9c8f-1493893123e0
        method: GET
      response:
        body: '{"id":"764152b9-5410-4131-9c8f-1493893123e0", "name":"tf-snapshot-reverent-wright", "parent_volume":{"id":"cb46fadd-ef1e-4f5c-bd7f-93808aa1faff", "name":"tf-volume-admiring-allen", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-20T17:30:28.316092Z", "updated_at":"2026-02-20T17:30:35.269157Z", "references":[{"id":"e3cf07c8-b2a2-4146-b7c2-d6d72e221823", "product_resource_type":"instance_image", "product_resource_id":"75cbf30c-695b-490f-a90e-c17a44199272", "created_at":"2026-02-20T17:30:35.269157Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 444.130115ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/75cbf30c-695b-490f-a90e-c17a44199272
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "75cbf30c-695b-490f-a90e-c17a44199272"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.010749ms
[...]
