---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-laughing-lichterman","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"d2af0baa-f851-4b83-a7ed-fa55543c83dd", "name":"tf-volume-laughing-lichterman", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T16:24:21.623496Z", "updated_at":"2026-02-16T16:24:21.623496Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.565562ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/9562875e-0eeb-4ae8-9579-a1029e832b0f
        method: GET
      response:
        body: '{"id":"9562875e-0eeb-4ae8-9579-a1029e832b0f", "name":"tf-volume-exciting-shamir", "type":"sbs_15k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T16:24:21.617977Z", "updated_at":"2026-02-16T16:24:21.617977Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.26989ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d2af0baa-f851-4b83-a7ed-fa55543c83dd","name":"tf-snapshot-gifted-haibt","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"b7385912-0b8e-41b6-97c6-216b2f2c4ef0", "name":"tf-snapshot-gifted-haibt", "parent_volume":{"id":"d2af0baa-f851-4b83-a7ed-fa55543c83dd", "name":"tf-volume-laughing-lichterman", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T16:24:21.987567Z", "updated_at":"2026-02-16T16:24:21.987567Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.942187ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/b7385912-0b8e-41b6-97c6-216b2f2c4ef0
        method: GET
      response:
        body: '{"id":"b7385912-0b8e-41b6-97c6-216b2f2c4ef0", "name":"tf-snapshot-gifted-haibt", "parent_volume":{"id":"d2af0baa-f851-4b83-a7ed-fa55543c83dd", "name":"tf-volume-laughing-lichterman", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T16:24:21.987567Z", "updated_at":"2026-02-16T16:24:21.987567Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.494253ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-image-external-block-volume","root_volume":"b7385912-0b8e-41b6-97c6-216b2f2c4ef0","arch":"x86_64","extra_volumes":{"1":{"id":"96331edf-5b11-48a7-be4c-accc48310645"},"2":{"id":"06602dcd-c52d-4e57-b9d0-c21c7da2f5cf"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "fe3570a5-522d-45d2-9ad5-c6ca6761e1e3", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "b7385912-0b8e-41b6-97c6-216b2f2c4ef0", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "96331edf-5b11-48a7-be4c-accc48310645", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "06602dcd-c52d-4e57-b9d0-c21c7da2f5cf", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-16T16:24:34.252275+00:00", "modification_date": "2026-02-16T16:24:34.252275+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/fe3570a5-522d-45d2-9ad5-c6ca6761e1e3
        status: 201 Created
        code: 201
        duration: 1.097052516s
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/fe3570a5-522d-45d2-9ad5-c6ca6761e1e3
        method: GET
      response:
        body: '{"image": {"id": "fe3570a5-522d-45d2-9ad5-c6ca6761e1e3", "name": "tf-test-image-external-block-volume", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "b7385912-0b8e-41b6-97c6-216b2f2c4ef0", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "96331edf-5b11-48a7-be4c-accc48310645", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "06602dcd-c52d-4e57-b9d0-c21c7da2f5cf", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-02-16T16:24:34.252275+00:00", "modification_date": "2026-02-16T16:24:34.252275+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.670395ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/96331edf-5b11-48a7-be4c-accc48310645
        method: GET
      response:
        body: '{"id":"96331edf-5b11-48a7-be4c-accc48310645", "name":"tf-snapshot-adoring-khayyam", "parent_volume":{"id":"9562875e-0eeb-4ae8-9579-a1029e832b0f", "name":"tf-volume-exciting-shamir", "type":"sbs_15k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-16T16:24:27.078836Z", "updated_at":"2026-02-16T16:24:34.596125Z", "references":[{"id":"9c4cf919-dbec-4ae2-ae4b-17df83f7936f", "product_resource_type":"instance_image", "product_resource_id":"fe3570a5-522d-45d2-9ad5-c6ca6761e1e3", "created_at":"2026-02-16T16:24:34.596125Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.831525ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/fe3570a5-522d-45d2-9ad5-c6ca6761e1e3
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "fe3570a5-522d-45d2-9ad5-c6ca6761e1e3"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.552644ms
[...]
