---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-musing-dhawan","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"f1ebdb35-f693-41cf-9b74-5f80451f397e", "name":"tf-volume-musing-dhawan", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:29.870498Z", "updated_at":"2026-02-18T13:46:29.870498Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.138852ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/f1ebdb35-f693-41cf-9b74-5f80451f397e
        method: GET
      response:
        body: '{"id":"f1ebdb35-f693-41cf-9b74-5f80451f397e", "name":"tf-volume-musing-dhawan", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:29.870498Z", "updated_at":"2026-02-18T13:46:29.870498Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.078023ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"f1ebdb35-f693-41cf-9b74-5f80451f397e","name":"tf-snapshot-vigilant-ellis","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"2fa6f1f4-03b3-4a9d-b0ae-0228582487b6", "name":"tf-snapshot-vigilant-ellis", "parent_volume":{"id":"f1ebdb35-f693-41cf-9b74-5f80451f397e", "name":"tf-volume-musing-dhawan", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:35.148906Z", "updated_at":"2026-02-18T13:46:35.148906Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.487146ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2fa6f1f4-03b3-4a9d-b0ae-0228582487b6
        method: GET
      response:
        body: '{"id":"2fa6f1f4-03b3-4a9d-b0ae-0228582487b6", "name":"tf-snapshot-vigilant-ellis", "parent_volume":{"id":"f1ebdb35-f693-41cf-9b74-5f80451f397e", "name":"tf-volume-musing-dhawan", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:35.148906Z", "updated_at":"2026-02-18T13:46:35.148906Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 479.097555ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-exciting-chebyshev","root_volume":"2fa6f1f4-03b3-4a9d-b0ae-0228582487b6","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "b2f83c06-0d87-4684-b30a-359f8e844dbc", "name": "tf-image-exciting-chebyshev", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "2fa6f1f4-03b3-4a9d-b0ae-0228582487b6", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-18T13:46:41.567818+00:00", "modification_date": "2026-02-18T13:46:41.567818+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b2f83c06-0d87-4684-b30a-359f8e844dbc
        status: 201 Created
        code: 201
        duration: 473.444258ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b2f83c06-0d87-4684-b30a-359f8e844dbc
        method: GET
      response:
        body: '{"image": {"id": "b2f83c06-0d87-4684-b30a-359f8e844dbc", "name": "tf-image-exciting-chebyshev", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "2fa6f1f4-03b3-4a9d-b0ae-0228582487b6", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-18T13:46:41.567818+00:00", "modification_date": "2026-02-18T13:46:41.567818+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.794661ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2fa6f1f4-03b3-4a9d-b0ae-0228582487b6
        method: GET
      response:
        body: '{"id":"2fa6f1f4-03b3-4a9d-b0ae-0228582487b6", "name":"tf-snapshot-vigilant-ellis", "parent_volume":{"id":"f1ebdb35-f693-41cf-9b74-5f80451f397e", "name":"tf-volume-musing-dhawan", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-18T13:46:35.148906Z", "updated_at":"2026-02-18T13:46:41.603515Z", "references":[{"id":"e5cdb953-ec03-4e69-8e79-9f2a878582cc", "product_resource_type":"instance_image", "product_resource_id":"b2f83c06-0d87-4684-b30a-359f8e844dbc", "created_at":"2026-02-18T13:46:41.603515Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 307.211413ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b2f83c06-0d87-4684-b30a-359f8e844dbc
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "b2f83c06-0d87-4684-b30a-359f8e844dbc"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.077121ms
[...]
