---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-mystifying-elion","perf_iops":5000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"7ab45cb8-3fa9-48b5-bd23-de6e8f495f2b", "name":"tf-volume-mystifying-elion", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:13:38.528866Z", "updated_at":"2026-02-17T10:13:38.528866Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.473577ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/7ab45cb8-3fa9-48b5-bd23-de6e8f495f2b
        method: GET
      response:
        body: '{"id":"7ab45cb8-3fa9-48b5-bd23-de6e8f495f2b", "name":"tf-volume-mystifying-elion", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:13:38.528866Z", "updated_at":"2026-02-17T10:13:38.528866Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.486442ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"volume_id":"7ab45cb8-3fa9-48b5-bd23-de6e8f495f2b","name":"tf-snapshot-infallible-cartwright","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"eec66314-23e3-4b1c-a53f-4e0fe4fec29a", "name":"tf-snapshot-infallible-cartwright", "parent_volume":{"id":"7ab45cb8-3fa9-48b5-bd23-de6e8f495f2b", "name":"tf-volume-mystifying-elion", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:13:43.865660Z", "updated_at":"2026-02-17T10:13:43.865660Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 400.974443ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/eec66314-23e3-4b1c-a53f-4e0fe4fec29a
        method: GET
      response:
        body: '{"id":"eec66314-23e3-4b1c-a53f-4e0fe4fec29a", "name":"tf-snapshot-infallible-cartwright", "parent_volume":{"id":"7ab45cb8-3fa9-48b5-bd23-de6e8f495f2b", "name":"tf-volume-mystifying-elion", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:13:43.865660Z", "updated_at":"2026-02-17T10:13:43.865660Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.32453ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-image-admiring-mayer","root_volume":"eec66314-23e3-4b1c-a53f-4e0fe4fec29a","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "3189f694-91e0-4d16-b9b3-170fa2df7c59", "name": "tf-image-admiring-mayer", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "eec66314-23e3-4b1c-a53f-4e0fe4fec29a", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-17T10:13:50.438308+00:00", "modification_date": "2026-02-17T10:13:50.438308+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/3189f694-91e0-4d16-b9b3-170fa2df7c59
        status: 201 Created
        code: 201
        duration: 440.932137ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/3189f694-91e0-4d16-b9b3-170fa2df7c59
        method: GET
      response:
        body: '{"image": {"id": "3189f694-91e0-4d16-b9b3-170fa2df7c59", "name": "tf-image-admiring-mayer", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "eec66314-23e3-4b1c-a53f-4e0fe4fec29a", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-02-17T10:13:50.438308+00:00", "modification_date": "2026-02-17T10:13:50.438308+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.678019ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/eec66314-23e3-4b1c-a53f-4e0fe4fec29a
        method: GET
      response:
        body: '{"id":"eec66314-23e3-4b1c-a53f-4e0fe4fec29a", "name":"tf-snapshot-infallible-cartwright", "parent_volume":{"id":"7ab45cb8-3fa9-48b5-bd23-de6e8f495f2b", "name":"tf-volume-mystifying-elion", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-02-17T10:13:43.865660Z", "updated_at":"2026-02-17T10:13:50.470958Z", "references":[{"id":"818d4e82-d4a7-4ac9-b86b-22964b5a7f5c", "product_resource_type":"instance_image", "product_resource_id":"3189f694-91e0-4d16-b9b3-170fa2df7c59", "created_at":"2026-02-17T10:13:50.470958Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.017261ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/3189f694-91e0-4d16-b9b3-170fa2df7c59
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_image", "resource_id": "3189f694-91e0-4d16-b9b3-170fa2df7c59"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.823734ms
[...]
