---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"routed_ipv6"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "e89cf985-a5ae-4c1f-8152-6c1b74be456d", "address": null, "prefix": "2001:bc8:710:7076::/64", "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "e89cf985-a5ae-4c1f-8152-6c1b74be456d"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e89cf985-a5ae-4c1f-8152-6c1b74be456d
        status: 201 Created
        code: 201
        duration: 252.636441ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e89cf985-a5ae-4c1f-8152-6c1b74be456d
        method: GET
      response:
        body: '{"ip": {"id": "e89cf985-a5ae-4c1f-8152-6c1b74be456d", "address": null, "prefix": "2001:bc8:710:7076::/64", "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [], "ipam_id": "e89cf985-a5ae-4c1f-8152-6c1b74be456d"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.977534ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e89cf985-a5ae-4c1f-8152-6c1b74be456d
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "e89cf985-a5ae-4c1f-8152-6c1b74be456d"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.014455ms
