---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "02ef9c9d-be3d-406c-9c95-33912685fd8a", "address": "212.47.248.67", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "02ef9c9d-be3d-406c-9c95-33912685fd8a"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/02ef9c9d-be3d-406c-9c95-33912685fd8a
        status: 201 Created
        code: 201
        duration: 408.877331ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/02ef9c9d-be3d-406c-9c95-33912685fd8a
        method: GET
      response:
        body: '{"ip": {"id": "02ef9c9d-be3d-406c-9c95-33912685fd8a", "address": "212.47.248.67", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "02ef9c9d-be3d-406c-9c95-33912685fd8a"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.069764ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/02ef9c9d-be3d-406c-9c95-33912685fd8a
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_ip", "resource_id": "02ef9c9d-be3d-406c-9c95-33912685fd8a"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.235373ms
