---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-ecstatic-knuth","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "3b5f7fc1-aeca-48a4-856f-9bd3f118ea81", "name": "tf-vol-ecstatic-knuth", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-11T16:11:11.987782+00:00", "modification_date": "2026-02-11T16:11:11.987782+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3b5f7fc1-aeca-48a4-856f-9bd3f118ea81
        status: 201 Created
        code: 201
        duration: 220.202605ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3b5f7fc1-aeca-48a4-856f-9bd3f118ea81
        method: GET
      response:
        body: '{"volume": {"id": "3b5f7fc1-aeca-48a4-856f-9bd3f118ea81", "name": "tf-vol-ecstatic-knuth", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-11T16:11:11.987782+00:00", "modification_date": "2026-02-11T16:11:11.987782+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.137029ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3b5f7fc1-aeca-48a4-856f-9bd3f118ea81
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "3b5f7fc1-aeca-48a4-856f-9bd3f118ea81"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.43144ms
