---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vol-sweet-davinci","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"scratch","size":20000000000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "08401a9e-6815-4b95-a833-f67ace5a2828", "name": "tf-vol-sweet-davinci", "volume_type": "scratch", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-11T16:17:24.186916+00:00", "modification_date": "2026-02-11T16:17:24.186916+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/08401a9e-6815-4b95-a833-f67ace5a2828
        status: 201 Created
        code: 201
        duration: 239.331107ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/08401a9e-6815-4b95-a833-f67ace5a2828
        method: GET
      response:
        body: '{"volume": {"id": "08401a9e-6815-4b95-a833-f67ace5a2828", "name": "tf-vol-sweet-davinci", "volume_type": "scratch", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000, "state": "available", "creation_date": "2026-02-11T16:17:24.186916+00:00", "modification_date": "2026-02-11T16:17:24.186916+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.660448ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/08401a9e-6815-4b95-a833-f67ace5a2828
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "08401a9e-6815-4b95-a833-f67ace5a2828"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.638807ms
