---
version: 1
interactions:
- request:
    body: '{"name":"test-rdb-rr-instance-in-pn1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:04:39.641657Z","dhcp_enabled":true,"id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","name":"test-rdb-rr-instance-in-pn1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:04:39.641657Z","id":"2310fd26-a1cc-4c8f-86ac-8194ec86470e","subnet":"172.16.32.0/22","updated_at":"2024-02-20T14:04:39.641657Z"},{"created_at":"2024-02-20T14:04:39.641657Z","id":"9d826170-aaba-4daa-8bf5-0737fd189a14","subnet":"fd63:256c:45f7:28ab::/64","updated_at":"2024-02-20T14:04:39.641657Z"}],"tags":[],"updated_at":"2024-02-20T14:04:39.641657Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f0dfc40c-db66-43b6-89e0-fdc125494efe
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:04:39.641657Z","dhcp_enabled":true,"id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","name":"test-rdb-rr-instance-in-pn1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:04:39.641657Z","id":"2310fd26-a1cc-4c8f-86ac-8194ec86470e","subnet":"172.16.32.0/22","updated_at":"2024-02-20T14:04:39.641657Z"},{"created_at":"2024-02-20T14:04:39.641657Z","id":"9d826170-aaba-4daa-8bf5-0737fd189a14","subnet":"fd63:256c:45f7:28ab::/64","updated_at":"2024-02-20T14:04:39.641657Z"}],"tags":[],"updated_at":"2024-02-20T14:04:39.641657Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:45.683669Z","endpoint":null,"endpoints":[{"id":"7398a0fa-aa57-4197-92f9-bf24f47bc2f1","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"62dfb594-0506-4880-b236-49b5409eb836","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/62dfb594-0506-4880-b236-49b5409eb836
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:45.683669Z","endpoint":null,"endpoints":[{"id":"7398a0fa-aa57-4197-92f9-bf24f47bc2f1","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"62dfb594-0506-4880-b236-49b5409eb836","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/62dfb594-0506-4880-b236-49b5409eb836
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:45.683669Z","endpoint":null,"endpoints":[{"id":"7398a0fa-aa57-4197-92f9-bf24f47bc2f1","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"62dfb594-0506-4880-b236-49b5409eb836","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/62dfb594-0506-4880-b236-49b5409eb836/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVYno5aXJTL0FGbnlheU1NNDBCTHN3SzBsRFBBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR6TWk0eU1CNFhEVEkwCk1ESXlNREUwTURVMU5Wb1hEVE0wTURJeE56RTBNRFUxTlZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0ek1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=62dfb594-0506-4880-b236-49b5409eb836&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2024-02-20T14:04:46.160892Z","id":"1705b5ef-dc94-4bf0-bc53-bbaafb41f801","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"62dfb594-0506-4880-b236-49b5409eb836","mac_address":"02:00:00:18:83:4D","name":"test-rdb-rr-instance-in-pn","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"2310fd26-a1cc-4c8f-86ac-8194ec86470e"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-20T14:05:23.795373Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"62dfb594-0506-4880-b236-49b5409eb836","endpoint_spec":[{"private_network":{"private_network_id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"650a5d30-36f4-42e6-91da-ea970ef3336b","ip":"172.16.32.3","name":null,"port":5432,"private_network":{"private_network_id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","service_ip":"172.16.32.3/22","zone":"fr-par-1"}}],"id":"bd4aa98f-8a28-4162-9b23-5835a2ce3d47","instance_id":"62dfb594-0506-4880-b236-49b5409eb836","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/bd4aa98f-8a28-4162-9b23-5835a2ce3d47
    method: GET
  response:
    body: '{"endpoints":[{"id":"650a5d30-36f4-42e6-91da-ea970ef3336b","ip":"172.16.32.3","name":null,"port":5432,"private_network":{"private_network_id":"f0dfc40c-db66-43b6-89e0-fdc125494efe","service_ip":"172.16.32.3/22","zone":"fr-par-1"}}],"id":"bd4aa98f-8a28-4162-9b23-5835a2ce3d47","instance_id":"62dfb594-0506-4880-b236-49b5409eb836","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/7398a0fa-aa57-4197-92f9-bf24f47bc2f1
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"9ae1464e-596e-42a7-937f-cc49bba11192","ipam_config":{}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/62dfb594-0506-4880-b236-49b5409eb836/endpoints
    method: POST
  response:
    body: '{"id":"4b4a4f81-eba2-4352-9d9e-e09633147451","ip":"172.16.16.2","name":null,"port":5432,"private_network":{"private_network_id":"9ae1464e-596e-42a7-937f-cc49bba11192","service_ip":"172.16.16.2/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"9ae1464e-596e-42a7-937f-cc49bba11192","ipam_config":{}}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/bd4aa98f-8a28-4162-9b23-5835a2ce3d47/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"d693a1aa-593e-4683-a0a4-755ab56f9eb5","ip":"172.16.16.3","name":null,"port":5432,"private_network":{"private_network_id":"9ae1464e-596e-42a7-937f-cc49bba11192","service_ip":"172.16.16.3/22","zone":"fr-par-1"}}],"id":"bd4aa98f-8a28-4162-9b23-5835a2ce3d47","instance_id":"62dfb594-0506-4880-b236-49b5409eb836","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/bd4aa98f-8a28-4162-9b23-5835a2ce3d47
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"bd4aa98f-8a28-4162-9b23-5835a2ce3d47","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
