---
version: 1
interactions:
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:04:39.709691Z","dhcp_enabled":true,"id":"9ffde406-3914-4fee-99b8-d96c7595f317","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:04:39.709691Z","id":"189618df-6cab-4fc8-bfbf-22a69b612937","subnet":"172.16.20.0/22","updated_at":"2024-02-20T14:04:39.709691Z"},{"created_at":"2024-02-20T14:04:39.709691Z","id":"67c965b4-7654-4fd4-9de6-19ed4170e7a1","subnet":"fd63:256c:45f7:9634::/64","updated_at":"2024-02-20T14:04:39.709691Z"}],"tags":[],"updated_at":"2024-02-20T14:04:39.709691Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9ffde406-3914-4fee-99b8-d96c7595f317
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:04:39.709691Z","dhcp_enabled":true,"id":"9ffde406-3914-4fee-99b8-d96c7595f317","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:04:39.709691Z","id":"189618df-6cab-4fc8-bfbf-22a69b612937","subnet":"172.16.20.0/22","updated_at":"2024-02-20T14:04:39.709691Z"},{"created_at":"2024-02-20T14:04:39.709691Z","id":"67c965b4-7654-4fd4-9de6-19ed4170e7a1","subnet":"fd63:256c:45f7:9634::/64","updated_at":"2024-02-20T14:04:39.709691Z"}],"tags":[],"updated_at":"2024-02-20T14:04:39.709691Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:45.720956Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"e7de3530-3e6e-4c62-b3e2-2d728e6ffa47","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e7de3530-3e6e-4c62-b3e2-2d728e6ffa47
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:45.720956Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"e7de3530-3e6e-4c62-b3e2-2d728e6ffa47","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e7de3530-3e6e-4c62-b3e2-2d728e6ffa47
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:45.720956Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"e7de3530-3e6e-4c62-b3e2-2d728e6ffa47","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e7de3530-3e6e-4c62-b3e2-2d728e6ffa47
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:45.720956Z","endpoint":{"id":"c4050890-30bd-466c-8474-7edbbfe61bf9","ip":"51.159.11.69","load_balancer":{},"name":null,"port":19271},"endpoints":[{"id":"c4050890-30bd-466c-8474-7edbbfe61bf9","ip":"51.159.11.69","load_balancer":{},"name":null,"port":19271}],"engine":"PostgreSQL-14","id":"e7de3530-3e6e-4c62-b3e2-2d728e6ffa47","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e7de3530-3e6e-4c62-b3e2-2d728e6ffa47/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrRENDQXVDZ0F3SUJBZ0lVZVR6bkd6bkdQZG9mQ0MyQjV1UGw2Rkx1MGZvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERVeExqRTFPUzR4TVM0Mk9UQWVGdzB5Ck5EQXlNakF4TkRBM05URmFGdzB6TkRBeU1UY3hOREEzTlRGYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBdzFNUzR4TlRrdU1[...]
- request:
    body: '{"instance_id":"e7de3530-3e6e-4c62-b3e2-2d728e6ffa47","endpoint_spec":[{"private_network":{"private_network_id":"9ffde406-3914-4fee-99b8-d96c7595f317","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"b27cd889-0e78-4997-9bc9-d80123546ed9","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"9ffde406-3914-4fee-99b8-d96c7595f317","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"id":"3abab958-772f-4e83-a4ad-bdc0414c90f2","instance_id":"e7de3530-3e6e-4c62-b3e2-2d728e6ffa47","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/3abab958-772f-4e83-a4ad-bdc0414c90f2
    method: GET
  response:
    body: '{"endpoints":[{"id":"b27cd889-0e78-4997-9bc9-d80123546ed9","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"9ffde406-3914-4fee-99b8-d96c7595f317","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"id":"3abab958-772f-4e83-a4ad-bdc0414c90f2","instance_id":"e7de3530-3e6e-4c62-b3e2-2d728e6ffa47","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=e7de3530-3e6e-4c62-b3e2-2d728e6ffa47&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.20.2/22","created_at":"2024-02-20T14:08:31.382998Z","id":"e263a5df-30ae-432b-ab35-1bccd54d3038","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"e7de3530-3e6e-4c62-b3e2-2d728e6ffa47","mac_address":"02:00:00:18:83:54","name":"read-replica-3abab958","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"189618df-6cab-4fc8-bfbf-22a69b612937"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-20T14:08:58.278624Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/3abab958-772f-4e83-a4ad-bdc0414c90f2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"3abab958-772f-4e83-a4ad-bdc0414c90f2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
