---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","update"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:41.209692Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"9847f026-5a94-4c6e-a01a-1f68039b197a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9847f026-5a94-4c6e-a01a-1f68039b197a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:41.209692Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"9847f026-5a94-4c6e-a01a-1f68039b197a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9847f026-5a94-4c6e-a01a-1f68039b197a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:41.209692Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"9847f026-5a94-4c6e-a01a-1f68039b197a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9847f026-5a94-4c6e-a01a-1f68039b197a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:04:41.209692Z","endpoint":{"id":"f0273cac-6017-4e38-8498-bc064a41de8b","ip":"51.159.26.191","load_balancer":{},"name":null,"port":14455},"endpoints":[{"id":"f0273cac-6017-4e38-8498-bc064a41de8b","ip":"51.159.26.191","load_balancer":{},"name":null,"port":14455}],"engine":"PostgreSQL-15","id":"9847f026-5a94-4c6e-a01a-1f68039b197a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9847f026-5a94-4c6e-a01a-1f68039b197a/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVQ2lKWFdnd0J5SURtTVUrYUJ0VzNYYlhkMHI4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5Tmk0eE9URXdIaGNOCk1qUXdNakl3TVRRd056TXpXaGNOTXpRd01qRTNNVFF3TnpNeldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"9847f026-5a94-4c6e-a01a-1f68039b197a","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"d9cb518e-1cc3-4184-861d-fd029fb50646","instance_id":"9847f026-5a94-4c6e-a01a-1f68039b197a","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d9cb518e-1cc3-4184-861d-fd029fb50646
    method: GET
  response:
    body: '{"endpoints":[],"id":"d9cb518e-1cc3-4184-861d-fd029fb50646","instance_id":"9847f026-5a94-4c6e-a01a-1f68039b197a","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-reverent-hoover","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:10:37.461015Z","dhcp_enabled":true,"id":"0de21ff1-7627-4550-acf9-5bd45f2704b1","name":"tf-pn-reverent-hoover","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:10:37.461015Z","id":"1e9af3b4-a7ee-4656-a9df-3db675c9cd68","subnet":"172.16.48.0/22","updated_at":"2024-02-20T14:10:37.461015Z"},{"created_at":"2024-02-20T14:10:37.461015Z","id":"cb707944-955f-4ec3-9c8b-cd5520b2ebd8","subnet":"fd63:256c:45f7:e94::/64","updated_at":"2024-02-20T14:10:37.461015Z"}],"tags":[],"updated_at":"2024-02-20T14:10:37.461015Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0de21ff1-7627-4550-acf9-5bd45f2704b1
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:10:37.461015Z","dhcp_enabled":true,"id":"0de21ff1-7627-4550-acf9-5bd45f2704b1","name":"tf-pn-reverent-hoover","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:10:37.461015Z","id":"1e9af3b4-a7ee-4656-a9df-3db675c9cd68","subnet":"172.16.48.0/22","updated_at":"2024-02-20T14:10:37.461015Z"},{"created_at":"2024-02-20T14:10:37.461015Z","id":"cb707944-955f-4ec3-9c8b-cd5520b2ebd8","subnet":"fd63:256c:45f7:e94::/64","updated_at":"2024-02-20T14:10:37.461015Z"}],"tags":[],"updated_at":"2024-02-20T14:10:37.461015Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/1f97ba65-99c0-4b47-8210-ecafd425cd93
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"0de21ff1-7627-4550-acf9-5bd45f2704b1","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d9cb518e-1cc3-4184-861d-fd029fb50646/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"abb1feed-4fa9-4510-a865-82281946e225","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"0de21ff1-7627-4550-acf9-5bd45f2704b1","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"d9cb518e-1cc3-4184-861d-fd029fb50646","instance_id":"9847f026-5a94-4c6e-a01a-1f68039b197a","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=9847f026-5a94-4c6e-a01a-1f68039b197a&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"0de21ff1-7627-4550-acf9-5bd45f2704b1","ipam_config":{}}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d9cb518e-1cc3-4184-861d-fd029fb50646/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"c7b8872b-03e2-45d0-b436-22c601d46dea","ip":"172.16.48.3","name":null,"port":5432,"private_network":{"private_network_id":"0de21ff1-7627-4550-acf9-5bd45f2704b1","service_ip":"172.16.48.3/22","zone":"fr-par-1"}}],"id":"d9cb518e-1cc3-4184-861d-fd029fb50646","instance_id":"9847f026-5a94-4c6e-a01a-1f68039b197a","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=9847f026-5a94-4c6e-a01a-1f68039b197a&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.48.3/22","created_at":"2024-02-20T14:12:17.185987Z","id":"ddcd07b6-9050-406f-a11b-ee4a43f7e0fe","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"9847f026-5a94-4c6e-a01a-1f68039b197a","mac_address":"02:00:00:18:83:5C","name":"read-replica-d9cb518e","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"1e9af3b4-a7ee-4656-a9df-3db675c9cd68"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-20T14:12:18.189290Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d9cb518e-1cc3-4184-861d-fd029fb50646
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"d9cb518e-1cc3-4184-861d-fd029fb50646","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
