---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T12:50:21.283275Z","dhcp_enabled":true,"id":"234cdbbc-ce41-4fd8-81de-5ec53bdd1c28","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-05-14T12:50:21.283275Z","id":"d4cbcdcc-a47a-4332-bf7f-6b9562c0df69","subnet":"172.16.4.0/22","updated_at":"2024-05-14T12:50:21.283275Z"},{"created_at":"2024-05-14T12:50:21.283275Z","id":"04806c69-d40f-44b3-9e9e-cc3cbaaa353d","subnet":"fd5c:d510:d730:46f9::/64","updated_at":"2024-05-14T12:50:21.283275Z"}],"tags":[],"updated_at":"2024-05-14T12:50:21.283275Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 631.11012ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/234cdbbc-ce41-4fd8-81de-5ec53bdd1c28
        method: GET
      response:
        body: '{"created_at":"2024-05-14T12:50:21.283275Z","dhcp_enabled":true,"id":"234cdbbc-ce41-4fd8-81de-5ec53bdd1c28","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-05-14T12:50:21.283275Z","id":"d4cbcdcc-a47a-4332-bf7f-6b9562c0df69","subnet":"172.16.4.0/22","updated_at":"2024-05-14T12:50:21.283275Z"},{"created_at":"2024-05-14T12:50:21.283275Z","id":"04806c69-d40f-44b3-9e9e-cc3cbaaa353d","subnet":"fd5c:d510:d730:46f9::/64","updated_at":"2024-05-14T12:50:21.283275Z"}],"tags":[],"updated_at":"2024-05-14T12:50:21.283275Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.527829ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"234cdbbc-ce41-4fd8-81de-5ec53bdd1c28","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:50:23.256001Z","endpoint":null,"endpoints":[{"id":"2df10ecb-d133-4a4a-b269-0072d2925747","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"234cdbbc-ce41-4fd8-81de-5ec53bdd1c28","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"27b26286-0907-40cf-9a88-66ff52834072","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 974.010588ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/27b26286-0907-40cf-9a88-66ff52834072
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:50:23.256001Z","endpoint":null,"endpoints":[{"id":"2df10ecb-d133-4a4a-b269-0072d2925747","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"234cdbbc-ce41-4fd8-81de-5ec53bdd1c28","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"27b26286-0907-40cf-9a88-66ff52834072","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.127314ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/27b26286-0907-40cf-9a88-66ff52834072
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:50:23.256001Z","endpoint":null,"endpoints":[{"id":"2df10ecb-d133-4a4a-b269-0072d2925747","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"234cdbbc-ce41-4fd8-81de-5ec53bdd1c28","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"27b26286-0907-40cf-9a88-66ff52834072","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.780241ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/27b26286-0907-40cf-9a88-66ff52834072/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVTmpSTVB2VWhWSjZ4Q1c2cm5oZDlGODJlWGRvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck5EQTFNVFF4TWpVeE1qbGFGdzB6TkRBMU1USXhNalV4TWpsYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/2df10ecb-d133-4a4a-b269-0072d2925747
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 268.341306ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"503f0ee5-7fbf-4523-a1bf-4df8712a9287","service_ip":"192.168.1.254/24"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/27b26286-0907-40cf-9a88-66ff52834072/endpoints
        method: POST
      response:
        body: '{"id":"600503df-947e-4feb-80a0-52d6ef4a6b1e","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"503f0ee5-7fbf-4523-a1bf-4df8712a9287","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.630415ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-05-14T12:54:33.904969Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"13562732-713b-4e8c-b1e2-87321b86283e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T12:54:33.904969Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.781263ms
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/13562732-713b-4e8c-b1e2-87321b86283e
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-05-14T12:54:33.904969Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"13562732-713b-4e8c-b1e2-87321b86283e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T12:54:33.904969Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.145502ms
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.179.105","created_at":"2024-05-14T12:54:34.564737Z","gateway_id":null,"id":"93819c19-c310-4410-929a-20bdc9071457","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"105-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T12:54:34.564737Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 782.325813ms
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/93819c19-c310-4410-929a-20bdc9071457
        method: GET
      response:
        body: '{"address":"51.158.179.105","created_at":"2024-05-14T12:54:34.564737Z","gateway_id":null,"id":"93819c19-c310-4410-929a-20bdc9071457","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"105-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T12:54:34.564737Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.802025ms
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"93819c19-c310-4410-929a-20bdc9071457","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-14T12:54:34.766921Z","gateway_networks":[],"id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","ip":{"address":"51.158.179.105","created_at":"2024-05-14T12:54:34.564737Z","gateway_id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","id":"93819c19-c310-4410-929a-20bdc9071457","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"105-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T12:54:34.564737Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-05-14T12:54:34.766921Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.133668ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/bd85d05f-3ef6-4bb8-b968-13c932169f52
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-14T12:54:34.766921Z","gateway_networks":[],"id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","ip":{"address":"51.158.179.105","created_at":"2024-05-14T12:54:34.564737Z","gateway_id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","id":"93819c19-c310-4410-929a-20bdc9071457","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"105-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T12:54:34.564737Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-05-14T12:54:34.820967Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.086494ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","private_network_id":"503f0ee5-7fbf-4523-a1bf-4df8712a9287","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"13562732-713b-4e8c-b1e2-87321b86283e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-05-14T12:54:47.466468Z","dhcp":{"address":"192.168.1.1","created_at":"2024-05-14T12:54:33.904969Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"13562732-713b-4e8c-b1e2-87321b86283e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T12:54:33.904969Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","id":"a31ae74e-c32c-4992-9717-ba5478171837","ipam_config":null,"mac_address":null,"private_network_id":"503f0ee5-7fbf-4523-a1bf-4df8712a9287","status":"created","updated_at":"2024-05-14T12:54:47.466468Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.742675115s
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a31ae74e-c32c-4992-9717-ba5478171837
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-05-14T12:54:47.466468Z","dhcp":{"address":"192.168.1.1","created_at":"2024-05-14T12:54:33.904969Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"13562732-713b-4e8c-b1e2-87321b86283e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T12:54:33.904969Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","id":"a31ae74e-c32c-4992-9717-ba5478171837","ipam_config":null,"mac_address":"02:00:00:13:AF:7B","private_network_id":"503f0ee5-7fbf-4523-a1bf-4df8712a9287","status":"ready","updated_at":"2024-05-14T12:54:59.060412Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.144617ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-05-14T12:55:03.351345Z","gateway_id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","id":"bcc9a08f-dae2-4799-8402-a701ea07359e","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-05-14T12:55:03.351345Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.660061ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/bcc9a08f-dae2-4799-8402-a701ea07359e
        method: GET
      response:
        body: '{"created_at":"2024-05-14T12:55:03.351345Z","gateway_id":"bd85d05f-3ef6-4bb8-b968-13c932169f52","id":"bcc9a08f-dae2-4799-8402-a701ea07359e","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-05-14T12:55:03.351345Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.421165ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a31ae74e-c32c-4992-9717-ba5478171837?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 90.018715ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a31ae74e-c32c-4992-9717-ba5478171837
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"a31ae74e-c32c-4992-9717-ba5478171837","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.778526ms
[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/bd85d05f-3ef6-4bb8-b968-13c932169f52?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 68.584506ms
[...]
