---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_second_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-15T14:36:15.539536Z","dhcp_enabled":true,"id":"fceda2e9-1ce4-4f38-bc3e-b474566164f6","name":"my_second_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-15T14:36:15.539536Z","id":"872dbc4d-a835-4bef-bec6-0c2957560ef1","subnet":"172.17.64.0/22","updated_at":"2024-05-15T14:36:15.539536Z"},{"created_at":"2024-05-15T14:36:15.539536Z","id":"bfcfb655-9b7c-4504-9d2f-1ba430f40d00","subnet":"fd5f:519c:6d46:9b4f::/64","updated_at":"2024-05-15T14:36:15.539536Z"}],"tags":[],"updated_at":"2024-05-15T14:36:15.539536Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 705.598948ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fceda2e9-1ce4-4f38-bc3e-b474566164f6
        method: GET
      response:
        body: '{"created_at":"2024-05-15T14:36:15.539536Z","dhcp_enabled":true,"id":"fceda2e9-1ce4-4f38-bc3e-b474566164f6","name":"my_second_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-15T14:36:15.539536Z","id":"872dbc4d-a835-4bef-bec6-0c2957560ef1","subnet":"172.17.64.0/22","updated_at":"2024-05-15T14:36:15.539536Z"},{"created_at":"2024-05-15T14:36:15.539536Z","id":"bfcfb655-9b7c-4504-9d2f-1ba430f40d00","subnet":"fd5f:519c:6d46:9b4f::/64","updated_at":"2024-05-15T14:36:15.539536Z"}],"tags":[],"updated_at":"2024-05-15T14:36:15.539536Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.925097ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"2f56784e-5460-4de0-ad62-997f7b97d07a","service_ip":"172.17.96.4/22"}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-15T14:36:16.626725Z","endpoint":null,"endpoints":[{"id":"28d9339d-fd9c-4310-b24a-4f76e78c09bb","ip":"172.17.96.4","name":null,"port":5432,"private_network":{"private_network_id":"2f56784e-5460-4de0-ad62-997f7b97d07a","provisioning_mode":"static","service_ip":"172.17.96.4/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"deb8745d-8c6b-4cb8-8434-61520cf6419a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 780.399719ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/deb8745d-8c6b-4cb8-8434-61520cf6419a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-15T14:36:16.626725Z","endpoint":null,"endpoints":[{"id":"28d9339d-fd9c-4310-b24a-4f76e78c09bb","ip":"172.17.96.4","name":null,"port":5432,"private_network":{"private_network_id":"2f56784e-5460-4de0-ad62-997f7b97d07a","provisioning_mode":"static","service_ip":"172.17.96.4/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"deb8745d-8c6b-4cb8-8434-61520cf6419a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.572167ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/deb8745d-8c6b-4cb8-8434-61520cf6419a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-15T14:36:16.626725Z","endpoint":null,"endpoints":[{"id":"28d9339d-fd9c-4310-b24a-4f76e78c09bb","ip":"172.17.96.4","name":null,"port":5432,"private_network":{"private_network_id":"2f56784e-5460-4de0-ad62-997f7b97d07a","provisioning_mode":"static","service_ip":"172.17.96.4/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"deb8745d-8c6b-4cb8-8434-61520cf6419a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.166322ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/deb8745d-8c6b-4cb8-8434-61520cf6419a/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVTTk0Ty9KNllQQVdDbGFDT0VuT0Q2b0Z1SGo0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOeTQ1Tmk0ME1CNFhEVEkwCk1EVXhOVEUwTXpjeU1Wb1hEVE0wTURVeE16RTBNemN5TVZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tnk0NU5[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"2f56784e-5460-4de0-ad62-997f7b97d07a","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/deb8745d-8c6b-4cb8-8434-61520cf6419a/endpoints
        method: POST
      response:
        body: '{"details":[{"argument_name":"endpoint_spec.private_network.service_ip","help_message":"This private network is already configured on this instance","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 357.486967ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/deb8745d-8c6b-4cb8-8434-61520cf6419a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"deb8745d-8c6b-4cb8-8434-61520cf6419a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.174091ms
[...]
