---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T13:13:20.638208Z","dhcp_enabled":true,"id":"8e1830dc-fdfb-49d5-8bea-fbae4b105d73","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T13:13:20.638208Z","id":"c93baf77-8d69-4953-9c3f-9065b9884041","subnet":"172.16.216.0/22","updated_at":"2024-05-14T13:13:20.638208Z"},{"created_at":"2024-05-14T13:13:20.638208Z","id":"56897a94-19d9-44bb-a360-0f79c6ab33ee","subnet":"fd5f:519c:6d46:92e8::/64","updated_at":"2024-05-14T13:13:20.638208Z"}],"tags":[],"updated_at":"2024-05-14T13:13:20.638208Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 590.220168ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8e1830dc-fdfb-49d5-8bea-fbae4b105d73
        method: GET
      response:
        body: '{"created_at":"2024-05-14T13:13:20.638208Z","dhcp_enabled":true,"id":"8e1830dc-fdfb-49d5-8bea-fbae4b105d73","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T13:13:20.638208Z","id":"c93baf77-8d69-4953-9c3f-9065b9884041","subnet":"172.16.216.0/22","updated_at":"2024-05-14T13:13:20.638208Z"},{"created_at":"2024-05-14T13:13:20.638208Z","id":"56897a94-19d9-44bb-a360-0f79c6ab33ee","subnet":"fd5f:519c:6d46:92e8::/64","updated_at":"2024-05-14T13:13:20.638208Z"}],"tags":[],"updated_at":"2024-05-14T13:13:20.638208Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.235301ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"8e1830dc-fdfb-49d5-8bea-fbae4b105d73","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T13:13:21.501957Z","endpoint":null,"endpoints":[{"id":"eb014370-704b-4524-8f8a-690e7c3dd05c","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"8e1830dc-fdfb-49d5-8bea-fbae4b105d73","provisioning_mode":"ipam","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"d2d23a3c-4af3-4337-984c-ea62bf9f1811","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 905.49334ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2d23a3c-4af3-4337-984c-ea62bf9f1811
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T13:13:21.501957Z","endpoint":null,"endpoints":[{"id":"eb014370-704b-4524-8f8a-690e7c3dd05c","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"8e1830dc-fdfb-49d5-8bea-fbae4b105d73","provisioning_mode":"ipam","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"d2d23a3c-4af3-4337-984c-ea62bf9f1811","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.774974ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2d23a3c-4af3-4337-984c-ea62bf9f1811
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T13:13:21.501957Z","endpoint":null,"endpoints":[{"id":"eb014370-704b-4524-8f8a-690e7c3dd05c","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"8e1830dc-fdfb-49d5-8bea-fbae4b105d73","provisioning_mode":"ipam","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"d2d23a3c-4af3-4337-984c-ea62bf9f1811","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.7076ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2d23a3c-4af3-4337-984c-ea62bf9f1811/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVUGlIM0hrVit5MjlaSmR4NWJrRDE2ZTR4UVBjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOaTR5TVRZdU1qQWVGdzB5Ck5EQTFNVFF4TXpFME1qVmFGdzB6TkRBMU1USXhNekUwTWpWYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRZdU1[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2d23a3c-4af3-4337-984c-ea62bf9f1811/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.376577ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/eb014370-704b-4524-8f8a-690e7c3dd05c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 136.05977ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2d23a3c-4af3-4337-984c-ea62bf9f1811
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"d2d23a3c-4af3-4337-984c-ea62bf9f1811","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 72.579078ms
[...]
