---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-05-14T12:43:19.252012Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"90c72ea7-1d8d-4f6d-8d9a-f3977f27f21e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T12:43:19.252012Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.394309ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/90c72ea7-1d8d-4f6d-8d9a-f3977f27f21e
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-05-14T12:43:19.252012Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"90c72ea7-1d8d-4f6d-8d9a-f3977f27f21e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T12:43:19.252012Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.264566ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T12:43:19.250544Z","dhcp_enabled":true,"id":"5d397956-4966-48a7-a14d-9c6829423fdb","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-05-14T12:43:19.250544Z","id":"27039bf4-a81d-405d-ba52-e157379e2cc1","subnet":"172.16.16.0/22","updated_at":"2024-05-14T12:43:19.250544Z"},{"created_at":"2024-05-14T12:43:19.250544Z","id":"8d8533ae-28c2-48ed-a302-f66591e99696","subnet":"fd5c:d510:d730:ba21::/64","updated_at":"2024-05-14T12:43:19.250544Z"}],"tags":[],"updated_at":"2024-05-14T12:43:19.250544Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 597.653932ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/5d397956-4966-48a7-a14d-9c6829423fdb
        method: GET
      response:
        body: '{"created_at":"2024-05-14T12:43:19.250544Z","dhcp_enabled":true,"id":"5d397956-4966-48a7-a14d-9c6829423fdb","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-05-14T12:43:19.250544Z","id":"27039bf4-a81d-405d-ba52-e157379e2cc1","subnet":"172.16.16.0/22","updated_at":"2024-05-14T12:43:19.250544Z"},{"created_at":"2024-05-14T12:43:19.250544Z","id":"8d8533ae-28c2-48ed-a302-f66591e99696","subnet":"fd5c:d510:d730:ba21::/64","updated_at":"2024-05-14T12:43:19.250544Z"}],"tags":[],"updated_at":"2024-05-14T12:43:19.250544Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.92128ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.179.105","created_at":"2024-05-14T12:43:19.905264Z","gateway_id":null,"id":"4040744d-c075-4310-8115-7c69777f6185","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"105-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T12:43:19.905264Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 760.725334ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/4040744d-c075-4310-8115-7c69777f6185
        method: GET
      response:
        body: '{"address":"51.158.179.105","created_at":"2024-05-14T12:43:19.905264Z","gateway_id":null,"id":"4040744d-c075-4310-8115-7c69777f6185","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"105-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T12:43:19.905264Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.006188ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"4040744d-c075-4310-8115-7c69777f6185","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-14T12:43:20.147434Z","gateway_networks":[],"id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","ip":{"address":"51.158.179.105","created_at":"2024-05-14T12:43:19.905264Z","gateway_id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","id":"4040744d-c075-4310-8115-7c69777f6185","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"105-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T12:43:19.905264Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-05-14T12:43:20.147434Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.374926ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/0eedaf86-e78e-4dfd-974f-973c73274b0e
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-14T12:43:20.147434Z","gateway_networks":[],"id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","ip":{"address":"51.158.179.105","created_at":"2024-05-14T12:43:19.905264Z","gateway_id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","id":"4040744d-c075-4310-8115-7c69777f6185","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"105-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T12:43:19.905264Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-05-14T12:43:20.207845Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.361111ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"5d397956-4966-48a7-a14d-9c6829423fdb","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:43:20.183641Z","endpoint":null,"endpoints":[{"id":"8c126f3e-8279-4c35-b19c-1840616fcdcf","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"5d397956-4966-48a7-a14d-9c6829423fdb","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"49cedc9f-296e-40e4-8f88-05e96eed6aee","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 915.458778ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/49cedc9f-296e-40e4-8f88-05e96eed6aee
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:43:20.183641Z","endpoint":null,"endpoints":[{"id":"8c126f3e-8279-4c35-b19c-1840616fcdcf","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"5d397956-4966-48a7-a14d-9c6829423fdb","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"49cedc9f-296e-40e4-8f88-05e96eed6aee","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.506066ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","private_network_id":"5d397956-4966-48a7-a14d-9c6829423fdb","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"90c72ea7-1d8d-4f6d-8d9a-f3977f27f21e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-05-14T12:43:32.610623Z","dhcp":{"address":"192.168.1.1","created_at":"2024-05-14T12:43:19.252012Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"90c72ea7-1d8d-4f6d-8d9a-f3977f27f21e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T12:43:19.252012Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","id":"bafd337d-7c50-4857-968f-261a303e91b7","ipam_config":null,"mac_address":null,"private_network_id":"5d397956-4966-48a7-a14d-9c6829423fdb","status":"created","updated_at":"2024-05-14T12:43:32.610623Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.570725577s
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/bafd337d-7c50-4857-968f-261a303e91b7
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-05-14T12:43:32.610623Z","dhcp":{"address":"192.168.1.1","created_at":"2024-05-14T12:43:19.252012Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"90c72ea7-1d8d-4f6d-8d9a-f3977f27f21e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T12:43:19.252012Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","id":"bafd337d-7c50-4857-968f-261a303e91b7","ipam_config":null,"mac_address":"02:00:00:13:AF:77","private_network_id":"5d397956-4966-48a7-a14d-9c6829423fdb","status":"ready","updated_at":"2024-05-14T12:43:45.685288Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.662252ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/49cedc9f-296e-40e4-8f88-05e96eed6aee
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:43:20.183641Z","endpoint":null,"endpoints":[{"id":"8c126f3e-8279-4c35-b19c-1840616fcdcf","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"5d397956-4966-48a7-a14d-9c6829423fdb","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"49cedc9f-296e-40e4-8f88-05e96eed6aee","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 489.347825ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/49cedc9f-296e-40e4-8f88-05e96eed6aee/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVY0NVT2dIOWw2RGJVT0QrSnNQdHFQMUIzdWNFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qUXdOVEUwTVRJME5ESTFXaGNOTXpRd05URXlNVEkwTkRJMVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-05-14T12:46:23.648596Z","gateway_id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","id":"9c73d6ed-97e6-47e7-a8cb-dc51d125feec","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-05-14T12:46:23.648596Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 602.010531ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/9c73d6ed-97e6-47e7-a8cb-dc51d125feec
        method: GET
      response:
        body: '{"created_at":"2024-05-14T12:46:23.648596Z","gateway_id":"0eedaf86-e78e-4dfd-974f-973c73274b0e","id":"9c73d6ed-97e6-47e7-a8cb-dc51d125feec","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-05-14T12:46:23.648596Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.417679ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/bafd337d-7c50-4857-968f-261a303e91b7?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 133.181681ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/8c126f3e-8279-4c35-b19c-1840616fcdcf
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 404.222834ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/bafd337d-7c50-4857-968f-261a303e91b7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"bafd337d-7c50-4857-968f-261a303e91b7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.949636ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/0eedaf86-e78e-4dfd-974f-973c73274b0e?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 78.954769ms
[...]
