---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T16:14:34.252544Z","dhcp_enabled":true,"id":"40b4abee-ec35-4baf-8166-de517f7361a8","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T16:14:34.252544Z","id":"2ee0fac1-663e-4cad-8513-4edafc61187d","subnet":"172.16.216.0/22","updated_at":"2024-05-14T16:14:34.252544Z"},{"created_at":"2024-05-14T16:14:34.252544Z","id":"7ed25ffc-edd7-4866-b959-36fb2ced13c7","subnet":"fd5f:519c:6d46:978::/64","updated_at":"2024-05-14T16:14:34.252544Z"}],"tags":[],"updated_at":"2024-05-14T16:14:34.252544Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 624.175983ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/40b4abee-ec35-4baf-8166-de517f7361a8
        method: GET
      response:
        body: '{"created_at":"2024-05-14T16:14:34.252544Z","dhcp_enabled":true,"id":"40b4abee-ec35-4baf-8166-de517f7361a8","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T16:14:34.252544Z","id":"2ee0fac1-663e-4cad-8513-4edafc61187d","subnet":"172.16.216.0/22","updated_at":"2024-05-14T16:14:34.252544Z"},{"created_at":"2024-05-14T16:14:34.252544Z","id":"7ed25ffc-edd7-4866-b959-36fb2ced13c7","subnet":"fd5f:519c:6d46:978::/64","updated_at":"2024-05-14T16:14:34.252544Z"}],"tags":[],"updated_at":"2024-05-14T16:14:34.252544Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.915763ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"40b4abee-ec35-4baf-8166-de517f7361a8","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T16:14:35.550317Z","endpoint":null,"endpoints":[{"id":"a97cab08-67ec-40d9-8a2a-bf10b38fd131","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"40b4abee-ec35-4baf-8166-de517f7361a8","provisioning_mode":"ipam","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"2659a1b2-da82-43b0-ba77-af2e534afa48","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.306195806s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2659a1b2-da82-43b0-ba77-af2e534afa48
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T16:14:35.550317Z","endpoint":null,"endpoints":[{"id":"a97cab08-67ec-40d9-8a2a-bf10b38fd131","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"40b4abee-ec35-4baf-8166-de517f7361a8","provisioning_mode":"ipam","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"2659a1b2-da82-43b0-ba77-af2e534afa48","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.580335ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2659a1b2-da82-43b0-ba77-af2e534afa48
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T16:14:35.550317Z","endpoint":null,"endpoints":[{"id":"a97cab08-67ec-40d9-8a2a-bf10b38fd131","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"40b4abee-ec35-4baf-8166-de517f7361a8","provisioning_mode":"ipam","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"2659a1b2-da82-43b0-ba77-af2e534afa48","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.011648ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2659a1b2-da82-43b0-ba77-af2e534afa48/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVS29XaFVyZk9BK002a3NaNFBFT2NKSWRScU5Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOaTR5TVRZdU1qQWVGdzB5Ck5EQTFNVFF4TmpFMU5UQmFGdzB6TkRBMU1USXhOakUxTlRCYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRZdU1[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/a97cab08-67ec-40d9-8a2a-bf10b38fd131
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 111.050272ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"aa7fac46-e609-49bc-b49f-cb83d0ae52a4","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2659a1b2-da82-43b0-ba77-af2e534afa48/endpoints
        method: POST
      response:
        body: '{"id":"e10f0725-7862-4be7-9701-2ddf6b6d9c07","ip":"172.17.24.2","name":null,"port":5432,"private_network":{"private_network_id":"aa7fac46-e609-49bc-b49f-cb83d0ae52a4","provisioning_mode":"ipam","service_ip":"172.17.24.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 694.646297ms
[...]
    - id: 94
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2659a1b2-da82-43b0-ba77-af2e534afa48
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"2659a1b2-da82-43b0-ba77-af2e534afa48","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 117.667504ms
[...]
