---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:56:10.448631Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"9edad4d3-9044-4f15-a953-afd9ae0f67ea","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 739.842932ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-different-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T12:56:10.204615Z","dhcp_enabled":true,"id":"0c84755e-0eda-4761-99d3-a2d6a063d6a0","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T12:56:10.204615Z","id":"90402084-380a-4900-8d2d-98bb6f81d350","subnet":"172.17.64.0/22","updated_at":"2024-05-14T12:56:10.204615Z"},{"created_at":"2024-05-14T12:56:10.204615Z","id":"f3be79bd-0762-48ce-900b-46c53950fa3c","subnet":"fd5f:519c:6d46:d4a2::/64","updated_at":"2024-05-14T12:56:10.204615Z"}],"tags":[],"updated_at":"2024-05-14T12:56:10.204615Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 748.871322ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0c84755e-0eda-4761-99d3-a2d6a063d6a0
        method: GET
      response:
        body: '{"created_at":"2024-05-14T12:56:10.204615Z","dhcp_enabled":true,"id":"0c84755e-0eda-4761-99d3-a2d6a063d6a0","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T12:56:10.204615Z","id":"90402084-380a-4900-8d2d-98bb6f81d350","subnet":"172.17.64.0/22","updated_at":"2024-05-14T12:56:10.204615Z"},{"created_at":"2024-05-14T12:56:10.204615Z","id":"f3be79bd-0762-48ce-900b-46c53950fa3c","subnet":"fd5f:519c:6d46:d4a2::/64","updated_at":"2024-05-14T12:56:10.204615Z"}],"tags":[],"updated_at":"2024-05-14T12:56:10.204615Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.363153ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9edad4d3-9044-4f15-a953-afd9ae0f67ea
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:56:10.448631Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"9edad4d3-9044-4f15-a953-afd9ae0f67ea","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.952795ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9edad4d3-9044-4f15-a953-afd9ae0f67ea
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:56:10.448631Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"9edad4d3-9044-4f15-a953-afd9ae0f67ea","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.139012ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9edad4d3-9044-4f15-a953-afd9ae0f67ea
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:56:10.448631Z","endpoint":{"id":"16f68456-ea76-40a9-afac-20c6fc769191","ip":"51.159.206.160","load_balancer":{},"name":null,"port":25627},"endpoints":[{"id":"16f68456-ea76-40a9-afac-20c6fc769191","ip":"51.159.206.160","load_balancer":{},"name":null,"port":25627}],"engine":"PostgreSQL-14","id":"9edad4d3-9044-4f15-a953-afd9ae0f67ea","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.429446ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9edad4d3-9044-4f15-a953-afd9ae0f67ea/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVR2lON3BaZFlyZlhiOXlPZGpMYjZyR09jMGNvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURZdU1UWXdNQjRYCkRUSTBNRFV4TkRFeU5UZ3pNRm9YRFRNME1EVXhNakV5TlRnek1Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"instance_id":"9edad4d3-9044-4f15-a953-afd9ae0f67ea","endpoint_spec":[{"private_network":{"private_network_id":"0c84755e-0eda-4761-99d3-a2d6a063d6a0","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"c3385fa1-08f3-4914-a836-5d50a19b2a7d","ip":"172.17.64.2","name":null,"port":5432,"private_network":{"private_network_id":"0c84755e-0eda-4761-99d3-a2d6a063d6a0","provisioning_mode":"ipam","service_ip":"172.17.64.2/22","zone":"fr-par-1"}}],"id":"5d499752-d3c3-4bce-8484-fc8e1afd4461","instance_id":"9edad4d3-9044-4f15-a953-afd9ae0f67ea","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.306324812s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/5d499752-d3c3-4bce-8484-fc8e1afd4461
        method: GET
      response:
        body: '{"endpoints":[{"id":"c3385fa1-08f3-4914-a836-5d50a19b2a7d","ip":"172.17.64.2","name":null,"port":5432,"private_network":{"private_network_id":"0c84755e-0eda-4761-99d3-a2d6a063d6a0","provisioning_mode":"ipam","service_ip":"172.17.64.2/22","zone":"fr-par-1"}}],"id":"5d499752-d3c3-4bce-8484-fc8e1afd4461","instance_id":"9edad4d3-9044-4f15-a953-afd9ae0f67ea","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.071675ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/5d499752-d3c3-4bce-8484-fc8e1afd4461
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"5d499752-d3c3-4bce-8484-fc8e1afd4461","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 79.389353ms
[...]
