---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","update"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T13:04:21.798831Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"5ae56d17-9535-423a-8f5e-9804e9297871","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 452.12051ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ae56d17-9535-423a-8f5e-9804e9297871
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T13:04:21.798831Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"5ae56d17-9535-423a-8f5e-9804e9297871","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.493376ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ae56d17-9535-423a-8f5e-9804e9297871
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T13:04:21.798831Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"5ae56d17-9535-423a-8f5e-9804e9297871","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.454153ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ae56d17-9535-423a-8f5e-9804e9297871
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T13:04:21.798831Z","endpoint":{"id":"4c6d5613-a4b3-47a3-a459-54e2898e4574","ip":"51.159.206.160","load_balancer":{},"name":null,"port":12821},"endpoints":[{"id":"4c6d5613-a4b3-47a3-a459-54e2898e4574","ip":"51.159.206.160","load_balancer":{},"name":null,"port":12821}],"engine":"PostgreSQL-15","id":"5ae56d17-9535-423a-8f5e-9804e9297871","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.964741ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ae56d17-9535-423a-8f5e-9804e9297871/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVVTZuc0xma0t5S2N5dVdhMXl2a2hKQm5jVWx3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURZdU1UWXdNQjRYCkRUSTBNRFV4TkRFek1EY3dPRm9YRFRNME1EVXhNakV6TURjd09Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"instance_id":"5ae56d17-9535-423a-8f5e-9804e9297871","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[],"id":"6ebbd27b-a38e-4bfe-b04e-e059efd6ae77","instance_id":"5ae56d17-9535-423a-8f5e-9804e9297871","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 465.868242ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6ebbd27b-a38e-4bfe-b04e-e059efd6ae77
        method: GET
      response:
        body: '{"endpoints":[],"id":"6ebbd27b-a38e-4bfe-b04e-e059efd6ae77","instance_id":"5ae56d17-9535-423a-8f5e-9804e9297871","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.462399ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hopeful-germain","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T13:09:59.597433Z","dhcp_enabled":true,"id":"f33bfc0e-8340-4b71-b232-3dcca3a2a3f0","name":"tf-pn-hopeful-germain","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T13:09:59.597433Z","id":"44f516f0-a88d-4041-b177-a71a07998401","subnet":"172.17.96.0/22","updated_at":"2024-05-14T13:09:59.597433Z"},{"created_at":"2024-05-14T13:09:59.597433Z","id":"4c09e813-5fd6-4cd3-9bca-47e1955b3a5b","subnet":"fd5f:519c:6d46:6006::/64","updated_at":"2024-05-14T13:09:59.597433Z"}],"tags":[],"updated_at":"2024-05-14T13:09:59.597433Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 576.252638ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f33bfc0e-8340-4b71-b232-3dcca3a2a3f0
        method: GET
      response:
        body: '{"created_at":"2024-05-14T13:09:59.597433Z","dhcp_enabled":true,"id":"f33bfc0e-8340-4b71-b232-3dcca3a2a3f0","name":"tf-pn-hopeful-germain","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T13:09:59.597433Z","id":"44f516f0-a88d-4041-b177-a71a07998401","subnet":"172.17.96.0/22","updated_at":"2024-05-14T13:09:59.597433Z"},{"created_at":"2024-05-14T13:09:59.597433Z","id":"4c09e813-5fd6-4cd3-9bca-47e1955b3a5b","subnet":"fd5f:519c:6d46:6006::/64","updated_at":"2024-05-14T13:09:59.597433Z"}],"tags":[],"updated_at":"2024-05-14T13:09:59.597433Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.902061ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/a2c2867f-681a-4062-8e01-e84f2b1f7e59
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 181.298148ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"f33bfc0e-8340-4b71-b232-3dcca3a2a3f0","service_ip":"10.12.1.0/20"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6ebbd27b-a38e-4bfe-b04e-e059efd6ae77/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"f9368a5f-8c90-4a99-8361-f0df5e09d1e7","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"f33bfc0e-8340-4b71-b232-3dcca3a2a3f0","provisioning_mode":"static","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"6ebbd27b-a38e-4bfe-b04e-e059efd6ae77","instance_id":"5ae56d17-9535-423a-8f5e-9804e9297871","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 475.754633ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"f33bfc0e-8340-4b71-b232-3dcca3a2a3f0","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6ebbd27b-a38e-4bfe-b04e-e059efd6ae77/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"60db8938-31cd-447f-814c-3b0e17c8a603","ip":"172.17.96.3","name":null,"port":5432,"private_network":{"private_network_id":"f33bfc0e-8340-4b71-b232-3dcca3a2a3f0","provisioning_mode":"ipam","service_ip":"172.17.96.3/22","zone":"fr-par-1"}}],"id":"6ebbd27b-a38e-4bfe-b04e-e059efd6ae77","instance_id":"5ae56d17-9535-423a-8f5e-9804e9297871","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 715.907167ms
[...]
    - id: 125
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6ebbd27b-a38e-4bfe-b04e-e059efd6ae77
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"6ebbd27b-a38e-4bfe-b04e-e059efd6ae77","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.311166219s
[...]
