---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-instance-in-pn2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T12:53:30.682338Z","dhcp_enabled":true,"id":"2410ed20-6735-4bc6-ade5-142d41e5aeb9","name":"test-rdb-rr-instance-in-pn2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T12:53:30.682338Z","id":"bde8ea6e-8f0a-42d8-be61-6fdf17166109","subnet":"172.16.216.0/22","updated_at":"2024-05-14T12:53:30.682338Z"},{"created_at":"2024-05-14T12:53:30.682338Z","id":"aa44ea4a-b2bf-4152-8ca1-8dee7d5b9b03","subnet":"fd5f:519c:6d46:43bd::/64","updated_at":"2024-05-14T12:53:30.682338Z"}],"tags":[],"updated_at":"2024-05-14T12:53:30.682338Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 655.430648ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2410ed20-6735-4bc6-ade5-142d41e5aeb9
        method: GET
      response:
        body: '{"created_at":"2024-05-14T12:53:30.682338Z","dhcp_enabled":true,"id":"2410ed20-6735-4bc6-ade5-142d41e5aeb9","name":"test-rdb-rr-instance-in-pn2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T12:53:30.682338Z","id":"bde8ea6e-8f0a-42d8-be61-6fdf17166109","subnet":"172.16.216.0/22","updated_at":"2024-05-14T12:53:30.682338Z"},{"created_at":"2024-05-14T12:53:30.682338Z","id":"aa44ea4a-b2bf-4152-8ca1-8dee7d5b9b03","subnet":"fd5f:519c:6d46:43bd::/64","updated_at":"2024-05-14T12:53:30.682338Z"}],"tags":[],"updated_at":"2024-05-14T12:53:30.682338Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.476266ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"b33456cf-0e0b-4b1d-8e55-09a044138982","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:53:31.678536Z","endpoint":null,"endpoints":[{"id":"4761e503-1318-4635-81b2-873fb3345472","ip":"172.17.120.2","name":null,"port":5432,"private_network":{"private_network_id":"b33456cf-0e0b-4b1d-8e55-09a044138982","provisioning_mode":"ipam","service_ip":"172.17.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"f35bbbaf-afff-4aec-8823-f12edac745f4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.058650666s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f35bbbaf-afff-4aec-8823-f12edac745f4
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:53:31.678536Z","endpoint":null,"endpoints":[{"id":"4761e503-1318-4635-81b2-873fb3345472","ip":"172.17.120.2","name":null,"port":5432,"private_network":{"private_network_id":"b33456cf-0e0b-4b1d-8e55-09a044138982","provisioning_mode":"ipam","service_ip":"172.17.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"f35bbbaf-afff-4aec-8823-f12edac745f4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.539956ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f35bbbaf-afff-4aec-8823-f12edac745f4
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T12:53:31.678536Z","endpoint":null,"endpoints":[{"id":"4761e503-1318-4635-81b2-873fb3345472","ip":"172.17.120.2","name":null,"port":5432,"private_network":{"private_network_id":"b33456cf-0e0b-4b1d-8e55-09a044138982","provisioning_mode":"ipam","service_ip":"172.17.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"f35bbbaf-afff-4aec-8823-f12edac745f4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.253183ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f35bbbaf-afff-4aec-8823-f12edac745f4/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVWXVnd1Vjdm9TZ1FzUnhRTXFYNGFwQ3dBbDBRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOeTR4TWpBdU1qQWVGdzB5Ck5EQTFNVFF4TWpVME16ZGFGdzB6TkRBMU1USXhNalUwTXpkYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRjdU1[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"instance_id":"f35bbbaf-afff-4aec-8823-f12edac745f4","endpoint_spec":[{"private_network":{"private_network_id":"b33456cf-0e0b-4b1d-8e55-09a044138982","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"43d1ea37-29b8-4b5c-9ee6-5cadea30ce72","ip":"172.17.120.3","name":null,"port":5432,"private_network":{"private_network_id":"b33456cf-0e0b-4b1d-8e55-09a044138982","provisioning_mode":"ipam","service_ip":"172.17.120.3/22","zone":"fr-par-1"}}],"id":"ca0f9f49-ee06-46de-b0f2-798c6204d29c","instance_id":"f35bbbaf-afff-4aec-8823-f12edac745f4","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.04234559s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ca0f9f49-ee06-46de-b0f2-798c6204d29c
        method: GET
      response:
        body: '{"endpoints":[{"id":"43d1ea37-29b8-4b5c-9ee6-5cadea30ce72","ip":"172.17.120.3","name":null,"port":5432,"private_network":{"private_network_id":"b33456cf-0e0b-4b1d-8e55-09a044138982","provisioning_mode":"ipam","service_ip":"172.17.120.3/22","zone":"fr-par-1"}}],"id":"ca0f9f49-ee06-46de-b0f2-798c6204d29c","instance_id":"f35bbbaf-afff-4aec-8823-f12edac745f4","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.888257ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/4761e503-1318-4635-81b2-873fb3345472
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 161.616606ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"2410ed20-6735-4bc6-ade5-142d41e5aeb9","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f35bbbaf-afff-4aec-8823-f12edac745f4/endpoints
        method: POST
      response:
        body: '{"id":"ef002d0d-805e-4523-a3ef-199e46e32225","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"2410ed20-6735-4bc6-ade5-142d41e5aeb9","provisioning_mode":"ipam","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 968.13464ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"2410ed20-6735-4bc6-ade5-142d41e5aeb9","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ca0f9f49-ee06-46de-b0f2-798c6204d29c/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"e82dc3fb-96df-4eef-b2d2-37abf3c21600","ip":"172.16.216.3","name":null,"port":5432,"private_network":{"private_network_id":"2410ed20-6735-4bc6-ade5-142d41e5aeb9","provisioning_mode":"ipam","service_ip":"172.16.216.3/22","zone":"fr-par-1"}}],"id":"ca0f9f49-ee06-46de-b0f2-798c6204d29c","instance_id":"f35bbbaf-afff-4aec-8823-f12edac745f4","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 720.08999ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ca0f9f49-ee06-46de-b0f2-798c6204d29c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"ca0f9f49-ee06-46de-b0f2-798c6204d29c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 4.847427228s
[...]
